.aboutIntro {
    background-color: $orange2;
    position: relative;
    .container {
        padding-top: 0;
    }

    &__description {
        padding-top: 25px;
        padding-bottom: 25px;
        h2 {
            margin-bottom: 15px;
            color: ghostwhite;
        }
        p {
            line-height: 1.5;
            color: ghostwhite;
            text-align: justify;
        }
        .btn-wheat {
            margin-top: 25px;
        }
    }
    
    .sliderMe {
        margin-top: -100px;
        position: relative;
        z-index: 10;
        @include md {
            margin-top: -50px;
        }
    }
}