.aboutIntro {
    background-color: $black1;
    color: wheat;
    position: relative;
    .container {
        padding-top: 0;
    }

    &__description {
        padding-top: 25px;
        padding-bottom: 25px;
        h2 {
            font-size: 36px;
            @include lg {
                font-size: 30px;
            }
            @include md {
                font-size: 24px;
            }
        }
        p {
            font-size: 24px;
            margin-top: 25px;
            line-height: 1.5;
            @include lg {
                font-size: 20px;
            }
            @include md {
                font-size: 18px;
            }
        }
        .btn-wheat {
            margin-top: 25px;
        }
    }
    
    .sliderMe {
        margin-top: -100px;
        position: relative;
        z-index: 10;
        @include md {
            margin-top: 25px;
        }
    }
}