.btn {
    display: inline-block;
    padding: 15px 20px;
    line-height: 1;
    @include border-radius(25px 5px 25px 5px);
    &:hover {
        text-decoration: none;
        @include transition(all .3 ease-in-out);
    }
    &:active {
        @include transition(all .3 ease-in-out);
        top: 1px;
    }
    &.btn-wheat {
        background: wheat;
        color: $black2;
        @include box-shadow((0px 1px 2px goldenrod), (0px 2px 2px wheat));
        position: relative;
        &:hover {
            color: $black1;
        }
        &:active {
            @include box-shadow((0px 1px 2px goldenrod), (0px 2px 2px wheat));
        }
    }
}