.btn {
    display: inline-block;
    padding: 15px 20px;
    line-height: 1;
    @include border-radius(25px 5px 25px 5px);
    &:hover {
        text-decoration: none;
        @include transition(all .3 ease-in-out);
    }
    &:active {
        @include transition(all .3 ease-in-out);
        top: 1px;
    }
    &.btn-wheat {
        background: ghostwhite;
        color: chocolate;
        @include box-shadow(0px 0px 2px ghostwhite);
        position: relative;
        font-weight: 600;
        &:hover {
            background: floralwhite;
            color: chocolate;
            @include transition(all .3s ease-in-out);
        }
        &:active {
            @include box-shadow((0px 0px 1px ghostwhite inset), (0px 0px 1px white inset));
            @include transition(all .3s ease-in-out);
        }
    }
}