.heroBanner{
    position: relative;
    height: 50vh;
    min-height: 385px;
    @include sm {
        height: 275px;
        min-height: initial;
    }
    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            position: absolute;
            top: -9999px;
            right: -9999px;
            bottom: -9999px;
            left: -9999px;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
            z-index: 2;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 0;top: 0;right: 0;bottom: 0;
            width: 100%;height: 100%;
            z-index: 3;
            background: rgba(0,0,0,.2);
        }
    }
    &__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        text-align: center;
        h1 {
            color: ghostwhite;
            font-size: 52px;
            @include lg {
                font-size: 46px;
            }
            @include md {
                font-size: 40px;
            }
            @include xs {
                font-size: 32px;
            }
        }
        p {
            font-size: 24px;
            margin-top: 10px;
            color: ghostwhite;
            @include lg {
                font-size: 22px;
            }
            @include md {
                font-size: 20px;
            }
            @include xs {
                font-size: 18px;
            }
        }
    }
}