.sliderMe {
    @include box-shadow(-2px 2px 2px ghostwhite);
    @include border-radius(25px 5px 25px 5px);
    .slick-slider {
        overflow: hidden;
    }
    .slick-slide {
        img {
            width: 100%;
            object-fit: cover;
            @include border-radius(25px 5px 25px 5px);
            border: 2px solid wheat;
            @include box-shadow(0px 0px 2px ghostwhite);
        }
    }
}