.sliderMe {
    .slick-slider {
        overflow: hidden;
    }
    .slick-slide {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 25px 5px 25px 5px;
            border: 1px solid wheat;
            box-shadow: 0 0 2px ghostwhite;
        }
    }
}