@import './vendor/bootstrap';
@import './vendor/_reset';
@import './vendor/slick';
@import './vendor/slick-theme';

body {background: ghostwhite;}
* { font-family: 'Baumans', sans-serif; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
.opOn {opacity: 0;}
.opOff {opacity: 1;transition: opacity .3s ease;}
nav { .container { padding-top: 0; } }
.slick-prev { left: 15px; z-index: 25;}
.slick-next { right: 15px; z-index: 25;}
.slick-dots { bottom: 15px; z-index: 25;}
.slick-dots li {
    button:before { 
        color: ghostwhite; 
        font-size: 10px;
    }  
    &.slick-active {
        button:before { 
            color: white; 
        }   
    }
} 

@import './component/navigation';
@import './component/sliderme';
@import './component/home';
@import './component/aboutme';