@import './vendor/bootstrap';
@import './vendor/_reset';
@import './vendor/slick';
@import './vendor/slick-theme';
@import './vendor/fontawesome';
@import './etc/variables';
@import './etc/mixin';

html, body {
    overflow-x:hidden 
} 
body {background: ghostwhite;}
* { 
    font-family: 'Baumans', sans-serif; 
    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: none;
        border: none;
    }
    color: $black1;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    border: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
.posRelative {position: relative;}
.posInitial {position: initial;}
.opOn {opacity: 0;}
.opOff {opacity: 1;@include transition(opacity .3s ease);}
.container {padding-top: 25px;padding-bottom: 25px;}
.slick-prev { left: 15px; z-index: 25;}
.slick-next { right: 15px; z-index: 25;}
.slick-dots { bottom: 15px; z-index: 25;}
.slick-dots li {
    button:before { 
        color: ghostwhite; 
        font-size: 10px;
    }  
    &.slick-active {
        button:before { 
            color: white; 
        }   
    }
} 
h2 {
    font-size: 36px;
    @include lg {
        font-size: 30px;
    }
    @include md {
        font-size: 24px;
    }
    @include xs {
        font-size: 20px;
    }
}
h3 {
    font-size: 34px;
    @include lg {
        font-size: 26px;
    }
    @include md {
        font-size: 20px;
    }
    @include xs {
        font-size: 18px;
    }
}
p {
    font-size: 24px;
    @include lg {
        font-size: 20px;
    }
    @include md {
        font-size: 18px;
    }
    @include xs {
        font-size: 16px;
    }
}

@import './component/button';
@import './component/navigation';
@import './component/sliderme';
@import './component/about-intro';
@import './component/home-banner';